//--------------------------------------------/
//  Mixins  ----------------------------------/
//--------------------------------------------/

@mixin center-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}